# https://docs.github.com/code-security/dependabot/working-with-dependabot/dependabot-options-reference

version: 2
updates:
  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "monthly"
    commit-message:
      prefix: "ci(github/workflows):"
      include: "scope"

  - package-ecosystem: "bun"
    directory: "/"
    schedule:
      interval: "monthly"
    commit-message:
      prefix: "build(deps):"
      prefix-development: "build(deps-dev):"
      include: "scope"
