name: Build Package

on:
  workflow_dispatch:
  workflow_call:

jobs:
  build:
    name: Build the package
    runs-on: ubuntu-24.04-arm
    steps:
      - name: Checkout repo
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3

      - name: Setup Bun
        uses: oven-sh/setup-bun@735343b667d3e6f658f44d0eca948eb6282f2b76

      - name: Install dependencies
        run: bun install

      - name: Build package
        run: bun run build

      - name: Upload package build
        uses: actions/upload-artifact@330a01c490aca151604b8cf639adc76d48f6c5d4
        with:
          name: dist@${{ github.sha }}
          path: dist
          overwrite: true
