name: Check Package

on:
  workflow_call:
  pull_request:

jobs:
  build:
    name: Build package
    uses: ./.github/workflows/build.yml

  check_format:
    name: Check formatting
    runs-on: ubuntu-24.04-arm
    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Setup Bun
        uses: oven-sh/setup-bun@v2

      - name: Install dependencies
        run: bun install

      - name: Run formatting check
        run: bun run format:check

  check_types:
    name: Check types
    needs: build
    runs-on: ubuntu-24.04-arm
    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Setup Bun
        uses: oven-sh/setup-bun@v2

      - name: Install dependencies
        run: bun install

      - name: Download package build
        uses: actions/download-artifact@v4
        with:
          name: dist@${{ github.sha }}
          path: dist

      - name: Run types check
        run: bun run type-check

  lint:
    name: Lint code
    needs: build
    runs-on: ubuntu-24.04-arm
    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Setup Bun
        uses: oven-sh/setup-bun@v2

      - name: Install dependencies
        run: bun install --frozen-lockfile

      - name: Download package build
        uses: actions/download-artifact@v4
        with:
          name: dist@${{ github.sha }}
          path: dist

      - name: Run linter
        run: bun run lint

  test:
    name: Test package
    needs: build
    runs-on: ubuntu-24.04-arm
    strategy:
      matrix:
        runtime:
          - node
          - bun
    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Setup Node.js
        if: matrix.runtime == 'node'
        uses: actions/setup-node@v4
        with:
          node-version-file: .node-version

      - name: Setup Bun
        uses: oven-sh/setup-bun@v2

      - name: Install dependencies
        run: bun install

      - name: Download package build
        uses: actions/download-artifact@v4
        with:
          name: dist@${{ github.sha }}
          path: dist

      - name: Run tests on ${{ matrix.runtime }}
        run: bun run test:${{ matrix.runtime }}
