name: Publish Package

on: workflow_dispatch

jobs:
  check:
    name: Check package
    uses: ./.github/workflows/check.yml

  publish:
    name: Publish
    needs: check
    runs-on: ubuntu-24.04-arm
    permissions:
      id-token: write
      contents: write
      pull-requests: write
      issues: write
    steps:
      - name: Checkout repo
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8

      - name: Setup Node.js
        uses: actions/setup-node@a0853c24544627f65ddf259abe73b1d18a591444
        with:
          node-version: lts/*

      - name: Setup Bun
        uses: oven-sh/setup-bun@735343b667d3e6f658f44d0eca948eb6282f2b76

      - name: Install dependencies
        run: bun install

      - name: Download package build
        uses: actions/download-artifact@634f93cb2916e3fdff6788551b99b062d0335ce0
        with:
          name: dist@${{ github.sha }}
          path: dist

      - name: Publish package
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: bun run publish
