name: Publish Package

on: workflow_dispatch

jobs:
  check:
    name: Check package
    uses: ./.github/workflows/check.yml

  publish:
    name: Publish
    needs: check
    runs-on: ubuntu-24.04-arm
    permissions:
      id-token: write
      contents: write
      pull-requests: write
      issues: write
    steps:
      - name: Checkout repo
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3

      - name: Setup Node.js
        uses: actions/setup-node@b9b25d45f70a5d94d88496aa4896bf9ed8f49b67
        with:
          node-version: lts/*

      - name: Setup Bun
        uses: oven-sh/setup-bun@735343b667d3e6f658f44d0eca948eb6282f2b76

      - name: Install dependencies
        run: bun install

      - name: Download package build
        uses: actions/download-artifact@f093f21ca4cfa7c75ccbbc2be54da76a0c7e1f05
        with:
          name: dist@${{ github.sha }}
          path: dist

      - name: Publish package
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: bun run publish
